<div id="<%= dom_id materials_has_obra %>">
  <p>
    <strong>Material:</strong>
    <%= materials_has_obra.material_id %>
  </p>

  <p>
    <strong>Brand:</strong>
    <%= materials_has_obra.brand_id %>
  </p>

  <p>
    <strong>Cantidad:</strong>
    <%= materials_has_obra.cantidad %>
  </p>

</div>
