<h1>Editing materials has obra</h1>

<%= render "form", materials_has_obra: @materials_has_obra %>

<br>

<div>
  <%= link_to "Show this materials has obra", @materials_has_obra %> |
  <%= link_to "Back to materials has obras", materials_has_obras_path %>
</div>
